<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csp-token" content="<%= sign(assigns[:nonce]) %>" />
    <meta name="csrf-token" content="<%= get_csrf_token() %>" />
    <meta
      name="description"
      content="<%= assigns[:page_description] || "Here be dragons." %>"
    />
    <title><%= assigns[:page_title] || "Diacritical" %></title>
    <link href="<%= ~p"/asset/css/app.css" %>" rel="stylesheet" />
  </head>
  <body>
    <%= @inner_content %>
    <script src="<%= ~p"/asset/js/app.js" %>" defer>
    </script>
  </body>
</html>
